#map {
    height: 400px;
}

li {
    list-style: none;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.results li {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 1rem 0;
    padding: 1rem 0;
    border: 1px solid #c8c8c8;
    border-radius: 10px;
    background-color: lightblue;
}